<section id="celebrity">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-8">
        <h2>Mark Zuckerberg</h2>
        <p class="lead">Mark Elliot Zuckerberg is an American computer programmer and Internet entrepreneur. He is the chairman, chief executive officer, and co-founder of Facebook.</p>
        <p class="info">Age: <b><%= age %></b></p>
        <p class="info">Months until next bday: <b><%= months %></b></p>
      </div>
    </div>

  </div>
</section>
