<h1>Let's get in <b>Contact</b></h1>

<div class="wrapper">
  <form action="/display-user-info" method="get">
    <div class="form-group">
      <label for="name-input">Your Name</label>
      <input type="text" class="form-control" id="name-input" placeholder="Jonh" name="name">
    </div>
    <div class="form-group">
      <label for="lastName-input">Last Name</label>
      <input type="text" class="form-control" id="lastName-input" placeholder="Smith" name="lastName">
    </div>
    <div class="form-group">
      <label for="email-input">Your Email</label>
      <input type="email" class="form-control" id="email-input" placeholder="jonhsmith@smith.com" name="email">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

</div>
