<section id="info-cover">
  <div class="container">

    <h1><b>Thanks</b> <%=name %> <%= lastName %> </h1>

    <p class="lead">You should received a welcome email to <%= email %> shortly</p>
  </div>
</section>
